@font-face {
	font-family: DinProCondBold;
	src: url(../fonts/DINPro-CondBold.otf);
}

@font-face {
	font-family: DinProCond;
	src: url(../fonts/DINPro-Cond.otf);
}

@font-face {
	font-family: DINProCondLight;
	src: url(../fonts/DINPro-CondLight.otf);
}

@font-face {
	font-family: DINProCondMedium;
	src: url(../fonts/DINPro-CondMedium.otf);
}

