main .container {
	& > h3 {
		text-align: center;
		text-transform: uppercase;
		height: 100px;
    	line-height: 120px;
	}
	& > a {
		display: block;
		width: 100%;
		height: 80px;
		line-height: 100px;
		text-align: center;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	#youtubeAndNews {
		height: 100px;
		text-align: center;
		margin: 0 auto;
		@include flex();
		justify-content: center;
		div {
			flex: 0 0 45.7%;
			height: 100%;
			@include flex();
			flex-direction: column;
			justify-content: center;
			h3 {
				text-transform: uppercase;
				width: 100%;
				margin-bottom: 0;
			}
			p {

				width: 100%;
			}
		}
		a {
			display: block;
			flex: 0 0 33.3%;
			height: 100%;
			line-height: 63px;
			text-transform: uppercase;
			font-size: 1.75em;
		}
	}
}

#slider {
	height: 310px;
	justify-content: space-between;
	position: relative;
	.col-6 {
		height: 100%;
		padding: 0;
		&:nth-child(1){
			flex: 0 0 49%;
			background-image: url(../img/index/children.jpg);
			background-position: center center;
			.black {
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.5);
				text-transform: uppercase;
				position: relative;
				p {
					position: absolute;
					right: 5%;
					top: 55%;
					font-size: 1.4em;
					color: #fff;
					width: 42%;
					text-align: right;
					line-height: 1em;
				}
				a {
					position: absolute;
					right: 5%;
					top: 80%;
				    font-size: 1em;
				    display: block;
				    height: 40px;
				    text-align: center;
				    width: 34%;
				    line-height: 40px;
					background-color: #fff;
				}
			}
		}
		&:nth-child(2){
			flex: 0 0 49%;
			overflow: hidden;
			position: relative;
			transform-style: preserve-3d;
			background-color: 	#ddd;
			.my-item:nth-child(1) div.left {
				background-image: url(../img/index/girls.jpg);
	    		background-size: cover;
	    		background-position: center center;
    		}
    		.my-item:nth-child(2) div.left {
    			background-image: url(../img/index/children.jpg);
                background-size: cover;
                background-position: center center;
            }
    		.my-item:nth-child(3) div.left {
    			background-image: url(../img/index/project-2.jpg);
    			background-size: cover;
    			background-position: center center;
    		}
    		.my-item:nth-child(4) div.left {
    			background-image: url(../img/index/children.jpg); 
    			background-size: cover;
    			background-position: center center;
    		}
			.my-item {
				position: absolute;
				right: 0;
				background-color: #fff;
				width: 100%;
				height: 60%;
				opacity: 1;
				transition: top 0.5s ease, width 0.5s ease;
				div.left {
					width: 35%;
					height: 100%;		
					float: left;
					.black {
						width: 100%;	
						height: 100%;	
						background-color: rgba(0,0,0,.18);
					}
				}
				div.right {
					padding: 1% 2%;
    				overflow: hidden;
					width: 65%;
					height: 100%;		
					float: right;
					
				}
				&:nth-child(1){width: 95%;}
				&:nth-child(2){width: 100%;}
				&:nth-child(3){width: 95%;}
				&:nth-child(4){width: 90%;}
			}
		}
	}
}
#projects {
	height: 250px;
	justify-content: center;
	.col-3 {
		flex: 0 0 22%;
		margin: 0 1%;
		height: 100%;
		padding: 0;
		.top {
			width: 100%;
			height: 60%;
			background-size: cover;
			background-position: center center;
			.black {
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.2);
			}
		}
		.bot {
			width: 100%;
			height: 40%;
			position: relative;
			h4 {
				padding-top: 10px;
				padding-left: 10px;
				font-size: 1.7em;
				color: #fff;
				margin-bottom: 0;
			}
			p {
				padding-left: 10px;
				font-size: 0.8em;
				color: #fff;
			}
			a {
				display: block;
				width: 35%;
				height: 16px;
				line-height: 16px;
				text-align: center;
				font-size: 1em;
				background-color: #1e2e3d;
				@include border-radius(2px);
				text-transform: uppercase;
				position: absolute;
				bottom: 10%;
				right: 5%;
				float: right;
				color: #fff;
				&:hover {
					color: #000;
					background-color: #fff;
				}
			}
		}
		&:nth-child(1) .top {background-image: url(../img/index/project-1.jpg);}
		&:nth-child(2) .top {background-image: url(../img/index/project-2.jpg); background-position: top right;}
		&:nth-child(3) .top {background-image: url(../img/index/project-3.jpg); background-position: top center;}
		&:nth-child(4) .top {background-image: url(../img/index/project-1.jpg); background-position: top center;}
		&:nth-child(1) .bot {background-color: #939393;}
		&:nth-child(2) .bot {background-color: #6699cc;}
		&:nth-child(3) .bot {background-color: #33cc99; background-position: top center;}
		&:nth-child(4) .bot {background-color: #e45050; background-position: top center;}  
	}
}

#mainBlock {
	min-height: 600px;
	justify-content: center;
	& > .col-6 {
		padding: 0;
		flex: 0 0 45.7%;
		min-height: 100%;
		iframe {
			width: 100%;
			height: 300px;
		}
		.galleryText {
			width: 100%;
			height: 100px;
			@include flex();
			flex-direction: column;
			justify-content: flex-end;
			h3 {
				text-align: center;
				text-transform: uppercase;
				width: 100%;
				margin-bottom: 0;
			}
			p {
				text-align: center;
				width: 100%;
			}
		}
		.gallery {
			width: 100%;
			height: 300px;
			.carousel-indicators {
				left: -54px;
				bottom: 0;
				right: unset;
				li {
					@include border-radius(10px);
					width: 10px;
					height: 10px;
				}
			}
		}
	}
	.col-4 {
		min-height: 100%;
		.row {
			justify-content: flex-end;
			height: 100%;
			a {
				text-align: center;
				display: block;
				width: 100%;
				text-decoration: underline;
			}
			.col-6 {
				height: 229px;
				margin-bottom: 15px;
				padding-right: 0;
				padding-left: 20px;
				position: relative;
				overflow: hidden;
				&:nth-child(1) .newsImg {background-image: url(../img/index/MG_5403.jpg);}
				&:nth-child(2) .newsImg {background-image: url(../img/index/IMG_5242.jpg);}
				&:nth-child(3) .newsImg {background-image: url(../img/index/MON-RK.jpg);}
				&:nth-child(4) .newsImg {background-image: url(../img/index/IMG_2052.jpg);}
				&:nth-child(5) .newsImg {background-image: url(../img/index/22.jpg);}
				&:nth-child(6) .newsImg {background-image: url(../img/index/WhatsApp-Image-2017-12-13-at-16.22.57.jpeg);}
				div.newsImg {
					width: 100%;
					height: 110px;
					background-position: top center;
					background-size: cover;
				}
				h4 {
					padding-top: 8px;
					font-size: 0.85em;
					margin-bottom: 0;
				}
				p {
					margin-top: 8px;
					font-size: 0.6em;
					line-height: 1em;
					margin-bottom: 0;
					display: none;
				}
				span:first-child {
					float: left;
					display: block;  
					width: 15px;
					height: 15px; 
					background-image: url(../img/index/cube.jpg);
				}
				span:nth-child(2) {
					margin-left: 5px;
					float: left;
					font-size: 0.85em; 
					display: block;
					line-height: 15px;  
					height: 15px; 
				}
				a {
					position: absolute;
					bottom: 0;
					text-align: left;
					display: block;
					font-size: 0.85em;
				}
				.clear {
					clear: both;
					margin-bottom: 5px;
				}	
			}
		}
	}
}

.quoteTop,
.quoteBot {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
	padding-top: 50px;
}
.quoteBot {
	padding-top: 15px;
	font-size: 1.2em;
}

.quoteBot a{
	background-color: #7FFF00;
	border-radius: 8px;
	padding: 5px 25px;	
	color: #fff;
}

.quoteBot a:hover{
	background-color: pink;
	transition: 0.5s;
}

.afterQUote {
	text-align: center;
	margin-top: 15px;
}

#article {
	background-color: #efefef;
	min-height: 800px;
	.articleImg {
		width: 79%;
		margin: 0 auto;
		min-height: 400px;
		background-image: url(../img/index/girls.jpg);
		background-position: center center;
		-webkit-background-size: cover;
		background-size: cover;
		.black {
			width: 100%;
			height: 100%;
			min-height: 400px;
			background-color: rgba(255,255,255,.15);
		}
	}
	.blueBlock {
		width: 60%;
		height: 120px;
		margin-top: -25px;
		background-color: #d5edef;
		@include flex();
		flex-direction: column;
		justify-content: center;
		h3 {
			width: 70%;
			margin: 0 auto;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		p {
			width: 70%;
			margin: 0 auto;
			line-height: 1em;
    		font-size: 1em;
		}
	}
	p.firstText {
		padding-top: 20px;
		width: 70%;
		line-height: 1.8em;
		margin: 0 auto;
		font-size: 1em;
		margin-bottom: 30px;
	}
	.secondText {
		width: 70%;
		margin: 0 auto;
		div {
			width: 25%;
			height: 100%;
			background-color: #fff;
			@include border-radius(10px);
			float: left;
			margin-right: 10px;
		}
		p {
			line-height: 1.8em;
			font-size: 1em;
		}
	}
	.thirdText {
		padding-top: 40px;
		width: 70%;
		line-height: 1.8em;
		margin: 0 auto;
		font-size: 1em;
	}
	a {
		display: block;
		width: 100%;
		height: 100px;
		padding-top: 20px;
		line-height: 60px;
		text-align: center;
		text-decoration: underline;
	}

}

#partners {
	width: 80%;
	margin: 0 auto;
	.owl-carousel {
		min-height: 150px;
		.item {
			height: 80px;
			margin: 0 2%;
			background-color: #eee; 
		}
	}
}



#scroll-bar-wrap {
	width: 1px;
	height: 100%;
	position: absolute;
	left: 49.7%;
	top: 0;
	background-color: #fff;
	#scroll-bar {
		width: 50px;
		height: 50px;
		@include border-radius(25px);
		position: absolute;
		left: -22.3281px;
		top: 0;
		background-color: #fff;
		border: 8px solid pink;
		z-index: 100;
	}
	.points {
		width: 23px;
		height: 23px;
		left: -7.6px;
		border: 5px solid #ff5b5b;
		@include border-radius(25px);
		position: absolute; 
		&:nth-child(1){top: 0;}
		&:nth-child(2){top: 30%;}
		&:nth-child(3){top: 60%;}
		&:nth-child(4){top: 92%;}
	}
	#point-1,
	#point-2,
	#point-3,
	#point-4 {
		display: none;
	}
}



