header {
	width: 100%;
}


#socialLinks {
	height: 73px;
	.col-4 {
		height: 100%;
		padding: 0;
		overflow: hidden;
		a {
			img {
				width: 100%;
			}
		}
	}
}

#banner {
	height: 310px;
	position: relative;
	img {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
	}
	.logo {
		position: absolute;
		height: 130px;
		width: 200px;
		max-width: 100%;
		top: 32%;
    	left: 28%;
	}
	p {
		font-size: 2.5em;
		position: absolute;
		top: 35%;
    	width: 30%;
    	left: 53%;
    	line-height: 1em;
	}
}
 
#menu {
	height: 73px;
	background-color: #dedede; 
	a {
		cursor: pointer;
		display: block;
		/*flex: 1;*/
		height: 100%;
		line-height: 77px;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.3em;
		&:hover{background-color: #b0e0c8}
	}
}  